.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 1.5em;
  background-color: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  max-width: 40em;
  width: 100%;
  height: 40em;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.slider__input {
  display: none;
}

.slider__item {
  display: none;
}

.slider__item.active {
  display: block;
}

.slider__image {
  width: 100%;
  height: auto;
}

.slider__bottom {
  display: flex;
  justify-content: space-between;
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
}

.slider__text {
  font-size: 1.5em;
}

.nav {
  display: flex;
  justify-content: end;
  gap: 1em;
  align-items: center;
}

.nav__item {
  width: 1em;
  height: 1em;
  background-color: rgb(163, 199, 65);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
}

.nav__item:hover {
  background-color: black;
}
