.container {
  max-width: 80em;
  max-height: 50em;
  height: 100vh;
  margin: 0 auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner {
  overflow: hidden;
  width: 100%;
  max-width: 40em;
  height: 40em;
  margin: 0 auto;
}

.slider {
  width: 400%;
  transition: all 0.5s ease;
}

.slider__input {
  width: 0;
  height: 0;
  overflow: hidden;
  appearance: none;
}

.slider__item {
  float: left;
  width: 25%;
}

.slider__image {
  width: 100%;
  height: auto;
}

#slide1:checked ~ .inner .slider {
  margin-left: 0;
}

#slide2:checked ~ .inner .slider {
  margin-left: -100%;
}

#slide3:checked ~ .inner .slider {
  margin-left: -200%;
}

#slide4:checked ~ .inner .slider {
  margin-left: -300%;
}

.slider__bottom {
  display: flex;
  justify-content: space-between;
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

.slider__bottom .inner {
  height: 2em;
}

.slider__text {
  display: flex;
  width: 400%;
  transition: all 0.3s ease;
}

.slider__item-text {
  font-size: 1.5em;
  width: 70%;
}

#slide1:checked ~ .slider__bottom .slider__text {
  margin-left: 0;
}

#slide2:checked ~ .slider__bottom .slider__text {
  margin-left: -100%;
}

#slide3:checked ~ .slider__bottom .slider__text {
  margin-left: -200%;
}

#slide4:checked ~ .slider__bottom .slider__text {
  margin-left: -300%;
}

.nav {
  display: flex;
  justify-content: end;
  gap: 1em;
  align-items: center;
}

.nav__item {
  width: 1em;
  height: 1em;
  background-color: rgb(163, 199, 65);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
}

.nav__item:hover {
  background-color: black;
}

.nav__item:active {
  color: rgb(157, 31, 81);
}

#slide1:checked ~ nav label:nth-child(1),
#slide2:checked ~ nav label:nth-child(2),
#slide3:checked ~ nav label:nth-child(3),
#slide4:checked ~ nav label:nth-child(4) {
  background-color: inherit;
}

#slide1:checked ~ .slider__bottom p:nth-child(1),
#slide2:checked ~ .slider__bottom p:nth-child(2),
#slide3:checked ~ .slider__bottom p:nth-child(3),
#slide4:checked ~ .slider__bottom p:nth-child(4) {
  background-color: inherit;
}
